<div class="bootstrap-wrapper">
    <div class="container mt">
        <h1 class="text-center">Search Flight</h1>
        <div class="row">
            <div class="col-md-12" style="background-color:bisque; opacity: 100%; border-radius: 10px;padding-top: 1.5%;">
                
                <form>

                    <div class="container">

                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="fill" class="full-width search" >
                                    <mat-label>From</mat-label>
                                    <mat-select required [(value)]="selectedFrom" [(ngModel)]="search.source"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option>None</mat-option>

                                        <mat-option *ngFor="let from of froms" [value]="from.value">
                                            {{from.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>To</mat-label>
                                    <mat-select required [(value)]="selectedTo" [(ngModel)]="search.destination"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option>None</mat-option>

                                        <mat-option *ngFor="let to of tos" [value]="to.value">
                                            {{to.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput required [matDatepicker]="picker" placeholder="date"
                                    [min]="minDate" [max]="maxDate" name="goDate"
                                        [(ngModel)]="date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                    <button type="submit" mat-raised-button class="custom-btn" color="primary" 
                                        (click)="searchFlights()">Search</button>
                            </div>
                            <div class="col">
                                <div class="container">
                                    <button type="reset"  mat-raised-button color="primary"class="custom-btn"
                                        (click)="resetField()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Table here-->
<div class="bootstrap-wrapper">
    <div class="container mt" style="border-radius:10px ;">
        <div class="row">
            <div class="col-md-12">


                <!--//////////////////////////////////////////        ////////////////////////////////////////////-->
                <mat-table [dataSource]="flightDataSource" class="mat-elevation-z8"
                    style="background-color:bisque; opacity: 100%; border-radius:10px;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="flightNumber">
                        <mat-header-cell *matHeaderCellDef> Flight Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.flightNumber}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="source">
                        <mat-header-cell *matHeaderCellDef> From City </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.source}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="destination">
                        <mat-header-cell *matHeaderCellDef> To City </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="departDate">
                        <mat-header-cell *matHeaderCellDef> Departure Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.departDate}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="departTime">
                        <mat-header-cell *matHeaderCellDef> Departure Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.departTime}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="arrivalTime">
                        <mat-header-cell *matHeaderCellDef> Arrival Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.arrivalTime}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="arrivalDate">
                        <mat-header-cell *matHeaderCellDef> Arrival Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.arrivalDate}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="arrivaltime">
                        <mat-header-cell *matHeaderCellDef> Arrival Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.arrivalTime}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="travelTime">
                        <mat-header-cell *matHeaderCellDef> travelTime </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.travelTime}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="seatsRemaining">
                        <mat-header-cell *matHeaderCellDef> seatsRemaining </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.seatsRemaining}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="fare">
                        <mat-header-cell *matHeaderCellDef> Fare </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fare}} </mat-cell>
                    </ng-container>
                    <!-- Button-->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Book </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                (click)="getRecord(element)">Book</button> </mat-cell>
                    </ng-container>

                    <mat-header-row style="border-radius:10px;" *matHeaderRowDef="flightdisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: flightdisplayedColumns;"></mat-row>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4"><h4>No Flights matching</h4></td>
                        </tr>
                </mat-table>
                
            </div>
        </div>
    </div>

